
# General
notes.txt

# Titanic - Machine Learning from Disaster
competitions/titanic-machine_learning_from_disaster/files/data
competitions/titanic-machine_learning_from_disaster/files/.ipynb_checkpoints
competitions/titanic-machine_learning_from_disaster/titanic_env